<h3>Employee list</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
    </tr>
    <% if (typeof employees == 'object' && employees) { %>
    <% employees.forEach((employee, index) => { %>
    <tr class="<%= (index % 2 == 0) ? 'odd' : 'even' %>">
        <td><a href="/employees/<%= employee.empId %>/expenses"><%= employee.name %></a></td>
        <td><a href="/employees/<%= employee.empId %>/expenses"><%= employee.address %></a></td>
    </tr>
    <% }); %>
    <% } %>
</table>