<h3>Expenses list</h3>
<table>
    <tr>
        <th>date</th>
        <th>category</th>
        <!--<th>employeeName</th>-->
        <!--<th>employeeAddress</th>-->
        <th>expenseDescription</th>
        <th>preTaxAmount</th>
        <th>taxName</th>
        <th>taxAmount</th>
    </tr>
    <% if (typeof expenses == 'object' && expenses) { %>
    <% expenses.forEach((expense, index) => { %>
    <tr class="<%= (index % 2 == 0) ? 'odd' : 'even' %>">
        <td><%= expense.date %></td>
        <td><a href="/api/expenses/category/<%= encodeURIComponent(expense.category) %>"><%= expense.category %></a></td>
        <!--<td><%#= expense.employeeName %></td>-->
        <!--<td><%#= expense.employeeAddress %></td>-->
        <td><a href="/api/expenses/description/<%= encodeURIComponent(expense.expDescription) %>"><%= expense.expDescription %></a></td>
        <td><%= expense.preTaxAmount %></td>
        <td><%= expense.taxName %></td>
        <td><%= expense.taxAmount %></td>
    </tr>
    <% }); %>
    <% } %>
</table>